<!DOCTYPE html>
<html>
<code> Recommend for you: id - {{sid}} </code><br><br>
<form action="" method="post">
    {% csrf_token %}
    <input type='text' name="sid" value={{ sid }} hidden>
    {% if not fs %}
        <code>  {{ s.content_txt }}</code><br>
        {% if s.options1 %}
            <input type="radio" name="ans0" value="1" checked>&nbsp;&nbsp;<samp>{{s.options1}}</samp><br>
        {% endif %}

        {% if s.options2 %}
            <input type="radio" name="ans0" value="2">&nbsp;&nbsp;<samp>{{s.options2}}</samp><br>
        {% endif %}

        {% if s.options3 %}
            <input type="radio" name="ans0" value="3">&nbsp;&nbsp;<samp>{{s.options3}}</samp><br>
        {% endif %}

        {% if s.options4 %}
            <input type="radio" name="ans0" value="4">&nbsp;&nbsp;<samp>{{s.options4}}</samp><br>
        {% endif %}

        {% if s.options5 %}
            <input type="radio" name="ans0" value="5">&nbsp;&nbsp;<samp>{{s.options5}}</samp><br>
        {% endif %}

        {% if s.options6 %}
            <input type="radio" name="ans0" value="6">&nbsp;&nbsp;<samp>{{s.options6}}</samp><br>
        {% endif %}

        {% if s.options7 %}
            <input type="radio" name="ans0" value="7">&nbsp;&nbsp;<samp>{{s.options7}}</samp><br>
        {% endif %}

        {% if s.options8 %}
            <input type="radio" name="ans0" value="8">&nbsp;&nbsp;<samp>{{s.options8}}</samp><br>
        {% endif %}
    {% else %}
        <code>{{ fs.modeldata.content_txt }}</code><br>

        {% if fs.modeldata.options1 %}
            {% if fs.user_ans == 1 %}
                <input type="radio" name="ans0" value="1" checked >&nbsp;&nbsp;<samp>{{fs.modeldata.options1}}</samp>
                {% if fs.is_correct %}&nbsp;&nbsp;correct{% else %}&nbsp;&nbsp;<b><font color="#FF0000">wrong</font></b>{% endif %}
                <br>
            {% else %}
                <input type="radio" name="ans0" value="1" >&nbsp;&nbsp;<samp>{{fs.modeldata.options1}}</samp><br>
            {% endif %}
        {% endif %}

        {% if fs.modeldata.options2 %}
            {% if fs.user_ans == 2 %}
                <input type="radio" name="ans0" value="2" checked >&nbsp;&nbsp;<samp>{{fs.modeldata.options2}}</samp>
                {% if fs.is_correct %}&nbsp;&nbsp;correct{% else %}&nbsp;&nbsp;<b><font color="#FF0000">wrong</font></b>{% endif %}
                <br>
            {% else %}
                <input type="radio" name="ans0" value="2" >&nbsp;&nbsp;<samp>{{fs.modeldata.options2}}</samp><br>
            {% endif %}
        {% endif %}

        {% if fs.modeldata.options3 %}
            {% if fs.user_ans == 3 %}
                <input type="radio" name="ans0" value="3" checked >&nbsp;&nbsp;<samp>{{fs.modeldata.options3}}</samp>
                {% if fs.is_correct %}&nbsp;&nbsp;correct{% else %}&nbsp;&nbsp;<b><font color="#FF0000">wrong</font></b>{% endif %}
                <br>
            {% else %}
                <input type="radio" name="ans0" value="3" >&nbsp;&nbsp;<samp>{{fs.modeldata.options3}}</samp><br>
            {% endif %}
        {% endif %}

        {% if fs.modeldata.options4 %}
            {% if fs.user_ans == 4 %}
                <input type="radio" name="ans0" value="4" checked >&nbsp;&nbsp;<samp>{{fs.modeldata.options4}}</samp>
                {% if fs.is_correct %}&nbsp;&nbsp;correct{% else %}&nbsp;&nbsp;<b><font color="#FF0000">wrong</font></b>{% endif %}
                <br>
            {% else %}
                <input type="radio" name="ans0" value="4" >&nbsp;&nbsp;<samp>{{fs.modeldata.options4}}</samp><br>
            {% endif %}
        {% endif %}

        {% if fs.modeldata.options5 %}
            {% if fs.user_ans == 5 %}
                <input type="radio" name="ans0" value="5" checked >&nbsp;&nbsp;<samp>{{fs.modeldata.options5}}</samp>
                {% if fs.is_correct %}&nbsp;&nbsp;correct{% else %}&nbsp;&nbsp;<b><font color="#FF0000">wrong</font></b>{% endif %}
                <br>
            {% else %}
                <input type="radio" name="ans0" value="5" >&nbsp;&nbsp;<samp>{{fs.modeldata.options5}}</samp><br>
            {% endif %}
        {% endif %}

        {% if fs.modeldata.options6 %}
            {% if fs.user_ans == 6 %}
                <input type="radio" name="ans0" value="6" checked >&nbsp;&nbsp;<samp>{{fs.modeldata.options6}}</samp>
                {% if fs.is_correct %}&nbsp;&nbsp;correct{% else %}&nbsp;&nbsp;<b><font color="#FF0000">wrong</font></b>{% endif %}
                <br>
            {% else %}
                <input type="radio" name="ans0" value="6" >&nbsp;&nbsp;<samp>{{fs.modeldata.options6}}</samp><br>
            {% endif %}
        {% endif %}

        {% if fs.modeldata.options7 %}
            {% if fs.user_ans == 7%}
                <input type="radio" name="ans0" value="7" checked >&nbsp;&nbsp;<samp>{{fs.modeldata.options7}}</samp>
                {% if fs.is_correct %}&nbsp;&nbsp;correct{% else %}&nbsp;&nbsp;<b><font color="#FF0000">wrong</font></b>{% endif %}
                <br>
            {% else %}
                <input type="radio" name="ans0" value="7" >&nbsp;&nbsp;<samp>{{fs.modeldata.options7}}</samp><br>
            {% endif %}
        {% endif %}

        {% if fs.modeldata.options8 %}
            {% if fs.user_ans == 8 %}
                <input type="radio" name="ans0" value="8" checked >&nbsp;&nbsp;<samp>{{fs.modeldata.options8}}</samp>
                {% if fs.is_correct %}&nbsp;&nbsp;correct{% else %}&nbsp;&nbsp;<b><font color="#FF0000">wrong</font></b>{% endif %}
                <br>
            {% else %}
                <input type="radio" name="ans0" value="8" >&nbsp;&nbsp;<samp>{{fs.modeldata.options8}}</samp><br>
            {% endif %}
        {% endif %}

        {% if fs.is_correct == 0 %}
            <code> Correct ans is <b><font color="#FF0000">No.{{fs.modeldata.answer_idx}}</font></b> </code>
        {% endif %}
    {% endif %}
    <br><input type="submit" value="check">
</form>
</html>